Repository minimabot/rails-service: changes, and which lefthook commands are due for each by the changed paths.
All: ruby, erb, javascript

ruby:
  run: bundle exec rubocop --parallel {staged_files}

erb:
  run: bundle exec erblint {staged_files}

javascript:
  run: pnpm eslint {staged_files}

Reorganize database.yml
  config/database.yml
Due: none

Use multi environment credentials
  .gitignore
  config/credentials.yml.enc
  config/credentials/development.yml.enc
  config/credentials/test.yml.enc
Due: none

Support SSL with custom subdomains for localhost
  .gitignore
  Procfile.dev
  config/environments/development.rb
Due: ruby

Add YARD as Ruby documentation tool
  .gitignore
  Gemfile
  Gemfile.lock
Due: none

Separate routes into client, admin, api
  app/apis/api_controller.rb
  app/apis/v1/users_controller.rb
  app/controllers/admin/application_controller.rb
  app/controllers/admin/home_controller.rb
  app/controllers/client/application_controller.rb
  app/controllers/client/home_controller.rb
  app/views/admin/home/index.html.erb
  app/views/client/home/index.html.erb
  config/routes.rb
Due: ruby, erb

Add en, ko, ja locales to www subdomain
  app/controllers/client/application_controller.rb
  config/initializers/locale.rb
  config/routes.rb
Due: ruby

Path conditions:
  ruby: any of: *.rb, but not: db/schema.rb
  erb: any of: *.erb
  javascript: any of: *.js
